@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sticky-column {
  position: sticky;
  background-color: white; /* Sabitlenen hücrenin arkası görünmesin */
  border-right: 1px solid #e5e7eb;
}

.sticky-column-header {
  background-color: #f9fafb; /* Başlık arka planı */
}

/* Sayfalama butonları için temel stil */
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
